<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Contacts</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body class="vh-100 bg-light">
      <nav class="navbar navbar-expand-sm bg-primary navbar-primary p-2">
         <a class="navbar-brand text-white" href="/"><i class="bi bi-person-badge"></i> Contacts</a>
      </nav>
      <div class="container pt-3">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
      </div>
   </body>
</html>